{% extends 'base.html.twig' %}

{% block title %}{{ actors.name}}{% endblock %}

{% block body %}
    <h5>{{ actors.name }} joue dans :</h5>

   <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}